body{
    background-image:url(../images/abstract-art-artistic-1328891.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
  background-attachment: fixed;
}
p{
   color: white;
}
#gifs{
    float: left;
}