body{
    background-image:url(../images/background-bloom-blossom-76997.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
  background-attachment: fixed;
}
